.user-list {
  list-style: none;
  margin: 0 0 0.625rem;
  padding: 0;
}

.user-list__item {
  background-color: #fafafa;
  border: 1px solid #ddd;
  color: #333;
  margin: 0 0 1px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.user-list__item:hover {
  text-decoration: underline;
}

body,
.input,
.button {
  font: normal 1rem Verdana;
  margin: 0;
}

.user-form {
  padding: 1rem;
}

.user-list-item {
  background: #fafafa;
  border: 1px solid #ddd;
  color: #333;
  display: block;
  margin: 0 0 1px;
  padding: 8px 1rem;
  text-decoration: none;
}

.user-list-item:hover {
  text-decoration: underline;
}

.label {
  display: block;
  margin: 0 0 0.25rem;
}

.input {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: block;
  margin: 0 0 0.625rem;
  padding: 0.625rem 1rem;
  width: 100%;
}

.button {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  color: #333;
  display: inline-block;
  margin: 0 0 0.625rem;
  padding: 0.625rem 1rem;
  text-decoration: none;
}

.button:hover {
  background: #e8e8e8;
}

.layout {
  padding: 1rem;
  margin: 0.625rem auto;
  max-width: 1000px;
}

.menu {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
