.user-list {
  list-style: none;
  margin: 0 0 0.625rem;
  padding: 0;
}

.user-list__item {
  background-color: #fafafa;
  border: 1px solid #ddd;
  color: #333;
  margin: 0 0 1px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.user-list__item:hover {
  text-decoration: underline;
}
